<% extend("../app.ejs") %>
<section class="detail-nav">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="menu-title text-decoration-none">
                        <a href="/" class="text-decoration-none">
                            <img class="menu-nav" src="/images/background/smile.png" alt="img logo">
                            <span class="text-decoration-none">Doctors care</span>
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                    <span class="d-block"><a href="/" class="text-decoration-none">Homepage</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">For patients</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">For doctors</a></span>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <span><a href=" https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1" target="_blank" class="text-decoration-none">Need support?</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-specialization">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <a class="text-decoration-none" href="/">Homepage </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                   Access information
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-clinic mt-3">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h2>404 Page not found!</h2>
                    <hr>
                    <div>
                       <a href="/">Back to Homepage</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
