<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span>Copyright &copy; <a title="More info"
                                        href="https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1"
                                        target="_blank">HaryPhamDev - Doctors Care -  2020</a></span>
        </div>
    </div>
</footer>
