<% extend("master.ejs") %>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage patients</h1>
</div>

<!-- Content Row -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="patient-new-tab" data-toggle="tab" href="#newPatients" role="tab"
                   aria-controls="home" aria-selected="true">Add new patient (<span id="count-new"></span>) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="patient-need-confirm-tab" data-toggle="tab" href="#patientsNeedConfirm"
                   role="tab"
                   aria-controls="profile" aria-selected="false">Need confirmation(<span id="count-need"></span>) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="patient-confirmed-tab" data-toggle="tab" href="#patientConfirmed" role="tab"
                   aria-controls="contact" aria-selected="false">Confirmed (<span id="count-confirmed"></span>) </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="patient-cancel-tab" data-toggle="tab" href="#patientCanceled" role="tab"
                   aria-controls="contact" aria-selected="false">Cancelled (<span id="count-canceled"></span>) </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="newPatients" role="tabpanel"
                     aria-labelledby="patient-new-tab">
                    <table class="table table-bordered" id="tableNewPatients" width="100%" cellspacing="0">
                        <thead>

                        <tr>
                            <th>ID - Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Update</th>
                            <th class="w-25">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="patientsNeedConfirm" role="tabpanel"
                     aria-labelledby="patient-need-confirm-tab">
                    <table class="table table-bordered" id="tableNeedConfirmPatients" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID - Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Update</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="patientConfirmed" role="tabpanel"
                     aria-labelledby="patient-confirmed-tab">
                    <table class="table table-bordered" id="tableConfirmedPatients" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID - Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Update</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="patientCanceled" role="tabpanel" aria-labelledby="patient-cancel-tab">
                    <table class="table table-bordered" id="tableCancelPatients" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID - Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Update</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal detail info patient-->
<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
     id="modalDetailPatient">
    <div class="modal-dialog mw-100 w-75" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-4">
                        <label class="col-form-label text-label" for="patientName">Name:</label>
                        <input type="text" class="form-control" id="patientName" name="patientName">
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label text-label" for="patientPhone">Phone number:</label>
                        <input type="text" class="form-control" id="patientPhone" name="patientPhone">
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label text-label" for="patientEmail">Email:</label>
                        <input type="email" class="form-control" id="patientEmail" name="patientEmail">
                    </div>
                    <div class="form-group col-2">
                        <label class="col-form-label text-label" for="patientDate">Date:</label>
                        <input type="text" class="form-control" id="patientDate" name="patientDate" readonly>
                    </div>
                    <div class="form-group col-2">
                        <label class="col-form-label text-label" for="patientTime">Time:</label>
                        <input type="text" class="form-control" id="patientTime" name="patientTime" readonly>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label text-label" for="patientReason">Reason:</label>
                        <textarea class="form-control" name="patientReason" id="patientReason"></textarea>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label text-label" for="patientAddress">Address:</label>
                        <textarea class="form-control" name="patientAddress" id="patientAddress"></textarea>
                    </div>

                    <div class="col-12">
                        <label for="patientAddress">Extra info:</label>
                    </div>

                    <div class="form-group col-6">
                        <label class="col-form-label text-label" for="patientHistoryBreath">History of respiratory tract diseases:</label>
                        <textarea  class="form-control" name="patientHistoryBreath" id="patientHistoryBreath"></textarea>
                    </div>

                    <div class="form-group col-6">
                        <label class="col-form-label text-label" for="patientMoreInfo">Information on previous exams:</label>
                        <textarea  class="form-control" name="patientMoreInfo" id="patientMoreInfo"></textarea>
                    </div>

                    <div class="form-group col-12">
                        <label class="col-form-label text-label" for="patientNote">Note:</label>
                        <textarea  class="form-control" name="patientNote" id="patientNote"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ml-3 btn btn-secondary" id="btn-cancel-patient" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-confirm-patient-done">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancel booking-->
<div class="modal fade" id="modalCancelBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient denial confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCancelBooking">
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  name="reasonCancel" id="inputDefaultReason" value="reason1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Schedule spamming, not real
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="reasonCancel" id="exampleRadios2" value="reason2">
                        <label class="form-check-label" for="exampleRadios2">
                            The patient canceled the schedule
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="reasonCancel" id="exampleRadios3" value="reason3" >
                        <label class="form-check-label" for="exampleRadios3">
                            Another reason <input type="text" id="otherReason">
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnCancelBookingPatient" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal history cancel booking -->
<div class="modal fade" id="modalHistoryBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  mw-100 w-75" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient scheduling history</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <fieldset disabled>
                    <div class="form-row">
                        <div class="col-6">
                            <label>Status:</label>
                        </div>
                        <div class="col-3">
                            <label>Who:</label>
                        </div>
                        <div class="col-3">
                            <label>Time:</label>
                        </div>
                    </div>
                    <div id="contentHistory">

                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-view-history" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".supporter-list-patients").addClass("active");
    })
</script>
