<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setup Bot page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/setup.js"></script>
</head>
<body>
<div>
    <h1>Setup Bot Facebook (whitelisted domain, get started button, persistent_menu, etc.</h1>
    <br>
    <button type="button" id="btnSetupBotFB">
        Submit
    </button>
</div>
</body>
</html>
