<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Doctors Care</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4.3, Jquery 3.3, font-awesome 4.7, slick-slider-->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/components/slick-slider/slick/slick.css">
    <link rel="stylesheet" href="/components/slick-slider/slick/slick-theme.css">
    <script src="/components/slick-slider/slick/slick.js"></script>
    <link rel="stylesheet" href="/components/AlertifyJS/css/alertify.min.css"/>
    <link rel="stylesheet" href="/components/AlertifyJS/css/themes/default.min.css"/>

    <!-- JqueryUI-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- table of conent for detail post-->
    <link type="text/css" rel="stylesheet" href="/components/tableOfContent/jquery.tocify.css"/>
    <script src="/components/tableOfContent/jquery.tocify.min.js"></script>

    <script type='text/javascript' src=<%= process.env.URL_BING_HTTPS %> async defer></script>

</head>
<body>

<%- content %>
<div class="spacer"></div>
<footer>
    <div class="text-center">
        <span>Copyright &copy; <a title="More info"
                                  href="https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1"
                                  target="_blank">HaryPhamDev - Doctors Care -  2020</a></span>
    </div>
</footer>

<!--Libraries-->
<script src="/js/homepage.js"></script>
<script src="/js/client.js"></script>
<script src="/components/AlertifyJS/alertify.min.js"></script>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v7.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id=<%= process.env.PAGE_ID %>
     theme_color="#0084ff"
     logged_in_greeting="Welcome to DoctorsCare."
     logged_out_greeting="Welcome to DoctorsCare.">
</div>

</body>
</html>
