<%- contentFor('content-body') %>
<body class="login-background mt-5">
<div class="container">
    <div class="container">
        <div class="row mt-3">
            <div class="col-7 img-login">
                <img src="/images/login.jpg" alt="Paris" class="w-100 h-100">
            </div>
            <div class="col-5 d-flex flex-column mt-4">
                <form method="POST" action="/forgot-password/set-new-password" id="form-set-new-password">
                    <div class="d-flex flex-column">
                        <span class="block">Set up a new password</span>
                        <div class="input-group mb-3 mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text fa fa-user"></span>
                            </div>
                            <input type="text" class="form-control" id="form-email" value="<%= locals.email %>"
                                   placeholder="Email address" name="email" readonly>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text fa fa-lock"></span>
                            </div>
                            <input type="password" class="form-control" id="form-password" placeholder="New Password"
                                   name="password" required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text fa fa-lock"></span>
                            </div>
                            <input type="password" class="form-control" id="form-confirm-password"
                                   placeholder="Confirm Password"
                                   name="confirmPassword" required>
                        </div>
                        <button type="button" id="btn-set-new-password" class="mt-3 btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function setNewPassword() {
        $("#btn-set-new-password").on("click", function () {
            let form = $('#form-set-new-password');
            $.ajax({
                type: "POST",
                url: `${window.location.origin}/api/v1/forgot-password/set-new-password`,
                data: form.serialize(),
                success: function (data) {
                    alertify.alert("Thông báo", 'Bạn đã reset mật khẩu thành công. Nhấn OK để quay về trang đăng nhập').set('onok',
                        function (closeEvent) {
                            window.location.href = "/login";
                        });
                },
                error: function (err) {
                    if (err.status === 500) {
                        let errors = err.responseJSON;
                        if (!$.isArray(errors)) {
                            alertify.notify(errors, 'error', 5);
                            return false;
                        }
                        errors.forEach((err) => {
                            alertify.notify(err, 'error', 5);
                        });
                    }
                    if (err.status === 429)
                        alertify.notify(err.responseText, 'error', 5);
                }
            });
        });
    }

    $(document).ready(function () {
        setNewPassword();
    });
</script>
